#bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #F87F32 0.34%, #FA9A25 99.81%);
}

#bgg {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #F87F32 0.34%, #FA9A25 99.81%);
}
 
.flex {
    display: flex;
    justify-content: center;
}


#modal1{
    display: flex;
    flex: column;
    gap: 3rem;
    padding: 5rem 4rem;
    width: 20rem;
    height: auto;
    justify-content: center;
    margin-top: 4rem;

    border-radius: 5px;
    background: #FFF;
}

.content2 {
    padding: 0rem 3rem;
}


#modal h1 {
    color: #102251;
}

.bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bottom p {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0rem;
}

#modal1 .orange-bg{
    margin-top: 1.2rem;
    padding: 0.8rem 2.5rem;
}

span {
    color: #102251;
    text-decoration: underline;
}

.form p {
    margin-top: 0.5rem;
}
.form input {
    margin-left: 0rem;
    margin-top: 0.2rem;
    padding: 0.6rem 0.6rem;
    width: 19rem;
    border-radius: 5px;
    border: transparent;
    background-color: #F4F4F4;
}

.form {
    margin-top: 1.3rem;
}

#modal .orange-bg:hover {
    color: white;
    border: 3px solid #F87F32;
    background: #F87F32;
}