#bg1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #F87F32 0.34%, #FA9A25 99.81%);
}

#bgg {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #F87F32 0.34%, #FA9A25 99.81%);
}

#background {
    width: 84%;
    height: auto;
    margin-top: 3.5rem;
    margin-right: 8%;
    margin-left: 8%;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}

.dashboard {
    padding: 3.5rem 5rem;
}
.ongoing {
    color: #102251;
    font-weight: 500;
    font-size: 1.1rem;
}

.dark1 p {
    color: #102251;
}

.dark1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.dashboard h1 {
    color: #102251;
}

.grid {
    display: grid;
    grid-template-columns: 0.75fr 2fr 1fr 1fr 1fr;
    align-items: center;

}



.dashboard p {
    margin-top: 1rem;
}

.column {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 0rem 1rem;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .dashboard {
        padding: 2.2rem 2.2rem;
    }
}